NEXT_PUBLIC_SUPABASE_URL=https://hzywzkrbxrfcjqacotqk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh6eXd6a3JieHJmY2pxYWNvdHFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3ODQ5MjksImV4cCI6MjA5MjM2MDkyOX0.VPf3lXKKmV15LPy8AinIlXQ0b_Se5YdwQQmxqpHkwBA
NEXT_PUBLIC_SITE_URL=https://statosphere-forge.vercel.app/
RESEND_API_KEY=re_dxnZhT38_Kb9hDF7nJtQ1V4L2AcqkBL8J
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh6eXd6a3JieHJmY2pxYWNvdHFrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njc4NDkyOSwiZXhwIjoyMDkyMzYwOTI5fQ.jcy9gIW7eL9tenT3Nj6KZe4fCYkrVkf5HKbbHE9wEE8
